@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';

html, body{ overflow: hidden; }

html, body, #ctn-pixi {
  height: 100%;
  width: 100%;
}

#ctn-pixi {
  position: absolute;
  top: 0; left: 0;
  z-index: 1;
}